<div data-options="dxView : { name: 'categories', title: 'Categories', pane: 'master' } " >
    <div class="home-view"  data-options="dxContent : { targetPlaceholder: 'content' } " >
        <div data-bind="dxList: { dataSource: dataSource  }">
            <div data-options="dxTemplate : { name: 'item' } ">
                <div data-options="dxTemplate : { name: 'item' }" data-bind="text: CategoryName, dxAction: '#products/{CategoryID}'"></div>
            </div>
        </div>
    </div>
</div>